.forkCorner {
  z-index: 105;
  top: 16.66667px;
  right: 16.66667px;
  position: absolute;
}

.forkCornerBg {
  background-color: #7759C2;
  opacity: 0.7;
  width: 200px;
  height: 200px;
  z-index: 100;
  top: -100px;
  right: -100px;
  transform: rotate(45deg);
  position: absolute;
}
